{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/style/base.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <header>

        <nav>
            <ul style="display: flex; flex-direction: row; gap: 3rem; list-style: none; align-items: center;">
                <li>
                    <h2>Es restó</h2>
                </li>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'clientForm' %}">Ingresar nuevo cliente</a></li>
            </ul>
        </nav>
    </header>

    <main class="centered">
        {% block main %}{% endblock %}
    </main>

    <footer class="centered">
        Todos los derechos reservados
    </footer>
</body>

</html>