{% extends "web/base.html" %}
{% load static %}


{% block titulo %} ingresar cliente {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/style/clientForm.css' %}">
{% endblock %}

{% block main %}
<h1 class="centered">Crear Usuario</h1>

<form method="POST" action="{% url 'clientForm' %}">

    {% csrf_token %}
    {{ clientForm.name }}
    {{ clientForm.lastname }}
    {{ clientForm.phone }}
    {{ clientForm.email }}
    {{ clientForm.address }}
    <input class="hover-effect"  type="submit" value="Enviar">
</form>
{% endblock %}

