{% extends "web/base.html" %}
{% load static %}


{% block titulo %} ingresar cliente {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/style/clientForm.css' %}">
{% endblock %}

{% block main %}
<h3 class="centered">Ingresar nuevo cliente</h3>
<br />
{% if clientForm.non_field_errors %}
<div class="error">
    {% for error in clientForm.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
<br />
{% endif %}

<form method="POST" action="{% url 'clientForm' %}">

    {% csrf_token %}
    <!-- {{ clientForm.as_p }} -->

    {{ clientForm.name }}
    {% if clientForm.name.errors %}
    <div class="error">
        {% for error in clientForm.name.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.lastname }}
    {% if clientForm.lastname.errors %}
    <div class="error">
        {% for error in clientForm.lastname.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.phone }}
    {% if clientForm.phone.errors %}
    <div class="error">
        {% for error in clientForm.phone.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.email }}
    {% if clientForm.email.errors %}
    <div class="error">
        {% for error in clientForm.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.dni }}
    {% if clientForm.dni.errors %}
    <div class="error">
        {% for error in clientForm.dni.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <input class="hover-effect" type="submit" value="Enviar">
</form>
{% endblock %}