{% extends "web/base.html" %}
{% load static %}

{% block titulo %} Registrate {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/style/clientForm.css' %}">
{% endblock %}

{% block main %}
<h3 class="centered">Registrate</h3>
<br />
{% if clientForm.non_field_errors %}
<div class="error">
    {% for error in clientForm.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
<br />
{% endif %}

<form method="POST" action="{% url 'clientForm' %}">

    {% csrf_token %}
    <!-- {{ clientForm.as_p }} -->
    
        {{ clientForm.username }}
        {% if clientForm.username.errors %}
        <div class="error">
            {% for error in clientForm.username.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

    {{ clientForm.first_name }}
    {% if clientForm.first_name.errors %}
    <div class="error">
        {% for error in clientForm.first_name.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.last_name }}
    {% if clientForm.last_name.errors %}
    <div class="error">
        {% for error in clientForm.last_name.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.password }}
    {% if clientForm.password.errors %}
    <div class="error">
        {% for error in clientForm.password.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.confirm_password }}
    {% if clientForm.confirm_password.errors %}
    <div class="error">
        {% for error in clientForm.confirm_password.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.phone }}
    {% if clientForm.phone.errors %}
    <div class="error">
        {% for error in clientForm.phone.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.email }}
    {% if clientForm.email.errors %}
    <div class="error">
        {% for error in clientForm.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {{ clientForm.dni }}
    {% if clientForm.dni.errors %}
    <div class="error">
        {% for error in clientForm.dni.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <input class="hover-effect" type="submit" value="Enviar">
</form>
{% endblock %}