{% extends "web/base.html" %}
{% load static %}


{% block titulo %} menú {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/style/menu.css' %}">
{% endblock %}


{% block main %}
<table>
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Categotía</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><a href="{% url 'productDetail' product.id %}">{{ product.name | title }}</a></td>
        <!-- <td >{{ product.name | title }} </td> -->
        <td >$ {{ product.price|floatformat:2 }}</td>
        <td >{{ product.get_category_display }}</td>
    </tr>
    {% empty %}
    <article>
        <p>No hay productos disponibles</p>
    </article>
    {% endfor %}
</table>
{% endblock %}