{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Menú{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/style/orderList.css' %}">
{% endblock %}

{% block main %}

    <table>
        <tr>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
    {% for order in orders %}
        <tr class="row">
            <td><p>{{ order.date }}</p></td>
            <td>
                {% for product in order.products.all %}
              
                    <div style="text-align: left; flex-grow: 1;">{{ product.name }}</div>
                  
              
                {% endfor %}
            </td>
            <td>
                {% for product in order.products.all %}
              
                  
                    <div style="text-align: right;">$ {{ product.price|floatformat:2 }}</div>
              
                {% endfor %}
            </td>
            <td>
                <p style="text-align: right;">$ {{ order.total_price|floatformat:2 }}</p>
            </td>
        </tr>
    {% empty %}
    <article>
        <p>No hay pedidos realizados</p>
    </article>
    {% endfor %}
    </table>

{% endblock %}
