{% extends "web/base.html" %}
{% load static %}


{% block titulo %} menú {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/style/productDetail.css' %}">
{% endblock %}


{% block main %}



  <h3>Detalle del Producto</h3>
  <br/>
  <h3>{{ product.name }}</h3>
  <p><strong>Precio:</strong> {{ product.price }}</p>
  <p><strong>Categoría:</strong> {{ product.category }}</p>
  <p><strong>Descripción:</strong> {{ product.description }}</p>
  <br/>
  {% if perms.web.create_product %}
  <a href="{% url 'productEdit' product.id %}">Editar</a>
  <a href="{% url 'productDelete' product.id %}">Borrar</a>
  {% endif %}
  <br/>
  <br/>
  <a href="{% url 'menu' %}">Volver a la lista de productos</a>


{% endblock %}