* {
    margin: 0;
    padding: 0;
    background-color: wheat;
    color: black;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header,main,footer{
    padding: 1rem;
}
header, ul, h2, a{
    background-color: rgba(240, 248, 255, 0.2);
}
footer{
    background-color: rgba(240, 248, 255, 0.2);
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    flex: 1;
    flex-direction: column;
}
a{
    text-decoration: none;
}
a:hover{
    color: brown;
}