select{
    background-color: white;
    padding-right: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

.hover-effect {
    width: 20rem;
    color: black;
    transition: color 0.3s;
}

.hover-effect:hover {
    color: red;
    cursor: pointer;
}
